---
title: Danger - Reference
subtitle: Reference
layout: layout_js
---

css:
  .attributes {
    margin-left: 10px;
  }

  article > code {
    display: block;
    width: 70%;
  }

  span.comment {
    color: grey;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .no-underline {
    text-decoration: none;
  }

ruby:
  reference = JSON.parse(File.read("json_data/js_ref_dsl_docs.json"))
  dsl = reference["children"].find { |c| c["name"].include? "danger.d" }["children"][0]

  interfaces = dsl["children"].select { |c| c["kindString"] == "Interface" && c["comment"] }
  danger = interfaces.find { |c| c["name"] == "DangerDSLType" }
  exports = dsl["children"].select { |c| c["kindString"] == "Function" || c["kindString"] == "Variable" }.select { |c| c['name'] != "console" && c['name'] != "results" }.sort_by { |e| e['name'] }


  def comment(att)
    # A `const x = () => ` has a different way of documenting
    if att["kindString"] == "Method" 
      att = att["signatures"].find { |s| s["kindString"] == "Call signature" }
    end

    return "" unless att["comment"] && ( att["comment"]["text"] || att["comment"]["shortText"])

    comments = [att["comment"]["text"], att["comment"]["shortText"]]
    safe_comments = comments.compact.map{ |c| c.gsub("<", "&lt;") }.join("<br/><br/>// ")
    
    "<span class='comment'>// " + safe_comments + "</span>"
  end

  def params(att)
    att["signatures"].first["parameters"].map { |p| name(p) + ": " + show_type(p["type"]) }.join(", ")
  end

  def returns(att)
    type = att["signatures"][0]["type"]
    show_type(type)
  end

  def show_type(type)
    if type["typeArguments"]
      return link_type(type) + "<" + type["typeArguments"].map{ |t| show_single_type(t) }.join(", ") + ">" 
    end

    # only one of these ATM, the asyncFunction, so let's cheat
    if type["type"] == "reflection"
      return "Promise | Function with a single callback argument"
    end

    show_single_type(type)
  end

  def show_single_type(type)
    return type["types"].reject { |t| t["name"] == "undefined" }.map{ |t| link_type(t) }.join(" | ") if type["type"] == "union"
    return link_type(type) if type["name"] 
  end

  def link_type(type)
    return "<a href='##{type["name"]}'>" + type["name"] + "</a>"  if type["type"] == "reference"
    return '"' + type['value'] + '"'  if type["type"] == "stringLiteral" 
    type["name"]
  end

  def name(thing)
    isOptional = thing["flags"] && thing["flags"]["isOptional"]
    q = isOptional ? "?" : ""
    thing['name'] + q
  end

  def fn(attribute)
    kind = attribute["kindString"]
    if kind == "Function" || kind == "Method"
      "#{name(attribute)}(#{params(attribute)}) => #{returns(attribute)}"
    elsif kind == "Property"
      "#{name(attribute)}: #{show_type(attribute["type"])}"
    else
      name(attribute)
    end
  end


section.guide
  article  
    p So what does danger export? Well:

    code
      pre
        = "import { " + exports.map{ |d| d['name'] }.join(", ") + " } from 'danger'"

    markdown:

       Is the entire API for writing a Dangerfile. The interesting one is <code>danger</code>, so let's cover everything else first. Y'know - save the best for last. These other exports are mainly the ways in which you can communicate the status of your rules back to Danger.

      ## Communication

      These are functions which you use in rules to provide feedback during code review. Assuming Danger has access to write a comment, then `fail`, `warn`, `message` and `markdown` will report directly inline.

    code    
      - for export in exports.select { |e| e['name'] != "danger" && e['name'] != "schedule" }
        = comment(export["signatures"][0]) + "<br/>" + fn(export) + "<br/><br/>"

    p There's also <code>schedule</code> which is a bit of a special case. You can find out more from inside the guide <a href='/js/guides/the_dangerfile.html#async'>On the Dangerfile</a>. It helps you handle async code within your Dangerfile.

    code    
      - for export in exports.select { |e| e['name'] == "schedule" }
        = comment(export["signatures"][0]) + "<br/>" + fn(export) + "<br/><br/>"

    markdown:
      ## The Danger DSL - Root Objects

      OK, great - so now let's look through the API. This is the data that Danger will provide so that you can build rules for your team culture.

    code 
      - for export in danger["children"]
        = comment(export) + "<br/>danger." + fn(export) + "<br/><br/>"
    

    markdown:
    
      ## All Types

      This is meant to be the API reference, so I'll leave the prose at this point. Below is every object inside the Danger DSL. You can jump between the objects by clicking on their types.

      I'd recommend first just having a quick browse to have an overview in your head. Then I'd recommend using the editor to actually write some code with auto-complete to get a sense of what the syntax feels like.

    - for interface in interfaces

      code.reference id=interface["name"] 
        = comment(interface) + "<br/><br>"
        = "<a class='no-underline vibrant-dark' href='#{ interface["name"] }'>"
        = fn(interface) 
        = "</a>"
        = " {<br/><br/><div class='attributes'>"
        
      - if interface["children"]
        - for detail in interface["children"]
           == comment(detail) + "<br/>" + fn(detail) + "<br/><br/>"

      - if interface["indexSignature"]
        - for detail in interface["indexSignature"]
           == comment(detail) + "<br/>"

      = "</div>}"

      hr
